<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> School </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label>Graduation Year</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">Graduation Year</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="Graduate">Graduate Student</option>
          </select>
        </div>

        <div class="field">
          <label>Major (intented or declaired)</label>
        <input type="text" 
        name="major"
         ng-model="user.profile.major">

         <div class="field">
          <label>How did you hear about us?</label>
        <input type="text" 
        name="outreach"
         ng-model="user.profile.outreach">
         </div>
         

        <div class="field">
          <label>Have you attended DivHacks before?</label>
          <select
            name="attended"
            ng-model="user.profile.attended">
            <option value="Y">Yes</option>
            <option value="N">No</option>
          </select>
        </div>

        <div class="field">
          <label>Will you be on the Columbia University campus in the fall?</label>
          <select
          name="attended"
          ng-model="user.profile.onCampus">
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
        </div>
          

        </div>
        
        <div class="field">
          <label>What time zone will you be in?</label>
          <input type="text"
                 placeholder="Eastern Daylight Time, PST, UTC, etc."
                 ng-model="user.profile.timezone">
        </div>

        <div class="divided title">Tell us about yourself!</div>

        <div class="field">
          <label>
           Why do you want to come to DivHacks? (200 words max)
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <div class="field">
          <label>
            Participants can work in teams up to 4. This year, we are offering to pair you with a team ahead of the event. If you are interested in this option, please give us an idea about what type of project you would like to work on to help us pair you! If you already have a team, or prefer to find your own, just write N/A
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <div class="field">
          <label>
            Are there any workshops or technologies that you would want to see at DivHacks?
          </label>
          <textarea ng-model="user.profile.workshop">
          </textarea>
        </div>

        <div>
          Please follow <a href="https://www.dropbox.com/request/An3QywilCRKpkP59nSNA">the link</a> to submit your resume, which will be passed on to sponsors
        </div>

        <div class="divided title">Demographic Information</div>
        <p>We want to make sure that DivHacks is as inclusive as it can be and is serving the people it set out to serve! 
          This is really helpful information to have for accantability on our side, but if you do not want to answer any of the questions,
           please select "I prefer not to answer" if you do not want to share this information </p>

        <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="NB">Non-Binary</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <!-- <div class="field">
          <label>Race/Ethnicity</label>
          <select
            name="race"
            ng-model="user.profile.race">
            <option value="W">White or Euro-American</option>
            <option value="B">Black, Afro-Carribean, African American</option>
            <option value="A">Asian or Asian American</option>
            <option value="NA">Native American or Alaska Native</option>
            <option value="L">Latinx or Hispanic American</option>
            <option value="M">Middle Eastern or North African</option>
            <option value="HP">Hawaiian or Pacific Islander</option>
            <option value="P">Prefer not to answer</option>
          </select>
        </div> -->

        <div class="field">
          <label>Race/Ethnicity (check all that apply)</label>
          <!-- ngRepeat: (key, value) in races --><div class="field ng-scope" ng-repeat="(key, value) in races">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="races[key]" class="ng-pristine ng-untouched ng-valid ng-empty">
              <label class="ng-binding">Non-Hispanic White or Euro-American</label>
            </div>
          </div><!-- end ngRepeat: (key, value) in races --><div class="field ng-scope" ng-repeat="(key, value) in races">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="races[key]" class="ng-pristine ng-untouched ng-valid ng-empty">
              <label class="ng-binding">Black, Afro-Caribbean, or African-American</label>
            </div>
          </div><!-- end ngRepeat: (key, value) in races --><div class="field ng-scope" ng-repeat="(key, value) in races">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="races[key]" class="ng-pristine ng-untouched ng-valid ng-empty">
              <label class="ng-binding">Latinx or Hispanic-American</label>
            </div>
          </div><!-- end ngRepeat: (key, value) in races --><div class="field ng-scope" ng-repeat="(key, value) in races">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="races[key]" class="ng-pristine ng-untouched ng-valid ng-not-empty">
              <label class="ng-binding">East Asian or Asian-American</label>
            </div>
          </div><!-- end ngRepeat: (key, value) in races --><div class="field ng-scope" ng-repeat="(key, value) in races">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="races[key]" class="ng-pristine ng-untouched ng-valid ng-empty">
              <label class="ng-binding">Southeast Asian or Southeast Asian-American</label>
            </div>
          </div><!-- end ngRepeat: (key, value) in races --><div class="field ng-scope" ng-repeat="(key, value) in races">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="races[key]" class="ng-pristine ng-untouched ng-valid ng-empty">
              <label class="ng-binding">South Asian or South Asian-American</label>
            </div>
          </div><!-- end ngRepeat: (key, value) in races --><div class="field ng-scope" ng-repeat="(key, value) in races">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="races[key]" class="ng-pristine ng-untouched ng-valid ng-empty">
              <label class="ng-binding">Middle Eastern or North African</label>
            </div>
          </div><!-- end ngRepeat: (key, value) in races --><div class="field ng-scope" ng-repeat="(key, value) in races">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="races[key]" class="ng-pristine ng-untouched ng-valid ng-empty">
              <label class="ng-binding">Native American or Alaskan Native</label>
            </div>
          </div><!-- end ngRepeat: (key, value) in races --><div class="field ng-scope" ng-repeat="(key, value) in races">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="races[key]" class="ng-pristine ng-untouched ng-valid ng-empty">
              <label class="ng-binding">Hawaiian or Pacific Islander</label>
            </div>
          </div><!-- end ngRepeat: (key, value) in races --><div class="field ng-scope" ng-repeat="(key, value) in races">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="races[key]" class="ng-pristine ng-untouched ng-valid ng-empty">
              <label class="ng-binding">Other</label>
            </div>
          </div><!-- end ngRepeat: (key, value) in races --><div class="field ng-scope" ng-repeat="(key, value) in races">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="races[key]" class="ng-pristine ng-untouched ng-valid ng-empty">
              <label class="ng-binding">Prefer not to answer</label>
            </div>
          </div><!-- end ngRepeat: (key, value) in races -->
        </div>
        
        <div class="field">
          <label>Which best descibes you?</label>
          <div>
            <label>
              <input type="radio" name="firstGen" value="yes" ng-model="user.profile.firstGen" class="ng-pristine ng-untouched ng-valid ng-not-empty">
              I am the first in my family to attend college
            </label>
          </div>
          <div>
            <label>
              <input type="radio" name="firstGen" value="no" ng-model="user.profile.firstGen" class="ng-pristine ng-untouched ng-valid ng-not-empty">
              I am one of a few in my family to attend college
            </label>
          </div>
          <div>
            <label>
              <input type="radio" name="firstGen" value="null" ng-model="user.profile.firstGen" class="ng-pristine ng-untouched ng-valid ng-not-empty">
              Some people in my family attend college
            </label>
          </div>
          <div>
            <label>
              <input type="radio" name="firstGen" value="null" ng-model="user.profile.firstGen" class="ng-pristine ng-untouched ng-valid ng-not-empty">
              Most people in my family attend college
            </label>
          </div>
          <div>
            <label>
              <input type="radio" name="firstGen" value="null" ng-model="user.profile.firstGen" class="ng-pristine ng-untouched ng-valid ng-not-empty">
              Everyone in my family attends college
            </label>
          </div>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
